/*.pp-modalBg{background:#444444 url(images/modalB.png) 50% 50% repeat;opacity: .70;filter: Alpha(Opacity=70)}*/
.pp-modalBg{background-color:#c7c7c7;filter:alpha(opacity=70);opacity:0.7}
.pp-topSh{background:url(images/shadow_nw.png) no-repeat bottom left}
.pp-topShR{margin-left:20px;padding-right:20px;background:url(images/shadow_ne.png) no-repeat bottom right}
.pp-topShL{height:20px;background:url(images/shadow_n.png) repeat-x}
.pp-botSh{background:url(images/shadow_sw.png) no-repeat top left}
.pp-botShR{margin-left:20px;padding-right:20px;background:url(images/shadow_se.png) no-repeat top right}
.pp-botShL{height:20px;background:url(images/shadow_s.png) repeat-x}
.pp-centerShR{padding:0 20px 0 0;background:url(images/shadow_e.png) repeat-y top right}
.pp-centerShL{background:url(images/shadow_w.png) repeat-y top left}
.pp-centerShC,.pp-header,.pp-footer{margin-left:20px;padding:20px;background-color:#FFFFFF}
.pp-centerShC{padding-bottom:30px;}
.pp-header{border-bottom:1px solid #c5c5c5;background:#ededed url(images/pp-hfL.png) repeat-y top left}
.pp-footer{border-top:1px solid #c5c5c5;text-align:right;background:#ededed url(images/pp-hfR.png) repeat-y top right}
.pp-hr{border:0;height:1px;background-color:#c5c5c5}