#loginl
{
    /*background: url('Images/ltbl.png') no-repeat left top;*/
    margin: 5px 0 0 25px;
}
#loginr
{
    /*background: url('Images/ltbr.png') no-repeat right top;*/
}
#login
{
    /*background: url('Images/ltb.png') repeat-x left top;*/
    margin: 0 12px;
    padding: 20px 15px 0 15px;
    height: 215px;
}

#l_title
{
    color: #5d86a7;
    font-size: 18px;
    font-weight:bold;
    text-align:center;
    text-shadow: 1px 1px #FFF;
}

.l_label
{
    font-weight: 100;
    margin-top: 10px;
    font-size: 18px;
    color: #545454;
    text-shadow: 1px 1px #fff;
}

.l_label a
{
    color: #545454;
}

.l_tb
{
    background: url(Images/tb.png) no-repeat top left;
    height: 26px;
    width: 226px;
}
.l_tb input
{
    border: 0;
    width: 223px;
    height: 24px;
    margin: 1px 0 0 2px;
    font-size: 16px;
    background-color: transparent;
}

.remember
{
    float: left;
    margin-top: 5px;
    font-size: 16px;
    color: #545454;
}

.b_login
{
    float: right;
    width: 90px;
    height: 30px;
    font-size:14px;
    text-align:right;
}

.b_login a
{
    display: block;
    width: 90px;
    height: 30px;
    line-height: 29px;
    text-align: center;
    color: White;
    text-decoration: none;
    text-shadow: -1px 1px 2px #000;
    background: url('Images/login_b.gif') no-repeat 0 0 transparent;
}

.b_login a:hover
{
    /*background: url('Images/login_b.gif') no-repeat 0 -35px transparent;*/
    text-shadow: 1px -1px -2px #000;
}

#login .row
{
    margin-top: 10px;
}

.loginbutt
{
    height: 30px;
}

.registr
{
    margin: 20px 0 0 28px;
}


.registr a
{
    display: block;
    width: 275px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: Black;
    text-decoration: none;
    text-shadow: -1px 1px 2px #FFF;
    background: url('Images/reg_butt.png') no-repeat center -5px;
}

.registr a:hover
{
    text-shadow: 1px 1px 1px #FFF;
    background: url('Images/reg_butt.png') no-repeat center -64px;
}

.floatleft
{
    float: left;
}

.floatright
{
    float: right;
}